.productCardWrapper {
  position: relative;
  /* padding: 0.5rem; */
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}

.productCardWrapper:hover {
  background-color: hsl(0, 0%, 98%);
}

.productCardImageWrapper {
  aspect-ratio: 2 / 3;
  background-color: hsl(0, 0%, 95%);
  border-radius: 0.5rem;
}

.productCardImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
