.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.total {
  margin-top: 1.5rem;
  padding: 1rem;
  text-align: right;
  border-radius: 1rem;
  background: hsl(0, 0%, 95%);
  font-size: 1.1rem;
}