.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: var(--header-height);
  display: flex;
  align-items: center;
  background: var(--col-bg);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header nav {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  box-sizing: border-box;
}
